<h1>Cherchez un resto</h1>

<form action="/search" method="post" >
  <input type="text" name="search[category]" placeholder="category">
  <input type="text" name="search[name]" placeholder="name">
  <input type="submit" value="search">
</form>
<br>



